/* .country-list{
 display: flex;
 flex-wrap: wrap;
 flex: 1 1 50%;
 padding: 2rem;
 list-style-type: none;
 background-color: #db4681;
 color: white;
}

 li{
 
 width: 50%;
 padding: 3%;
}

 li:nth-child(4n+3),
 li:nth-child(4n+2){
  background-color: #d04379;
 }

 .country-list *{

 } */
