.details-container {
  color: white;
  padding: 2rem 2rem;
}

.details-header {
  justify-content: space-between;
}

.flags {
  width: 50%;
}

.flags img,
.coat img {
  width: 100%;
  height: 12rem;
}

.header-wrap {
  justify-items: end;
  align-items: flex-end;
  margin-right: 0.5rem;
}

h1 {
  font-size: 2.6rem;
  font-weight: 900;
}

.header-wrap h1 {
  display: inline-block;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

h1 span {
  font-weight: 400;
  font-size: 1.6rem;
  font-style: italic;
  display: block;
  margin: 1rem 0;
}

h2,
h3 {
  margin-bottom: 1rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.details-body {
  padding-top: 1rem;
}

.details-body-wrapper {
  width: 100%;
}

.details {
  list-style-type: none;
  width: 100%;
}

ul.details li {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 100%;
  padding: 2rem;
}

ul.details li:nth-child(even) {
  background-color: var(--primary-dark-color);
}

ul.details li:nth-child(odd) {
  background-color: var(--primary-light-color);
}

@media screen and (min-width: 768px) {
  .header-wrap {
    margin-right: 2rem;
  }

  .details-container {
    padding: 2rem 6rem;
  }

  .flags {
    width: 40%;
  }

  .details-header {
    gap: 10%;
  }

  .flags img,
  .coat img {
    width: 100%;
    height: 20rem;
  }
}
