@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
 --primary-light-color: #db4681;
 --primary-dark-color: #d04379;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Montserrat, Roboto, sans-serif;
  min-width: 32rem;
  font-size: 1.6rem;
  background-color:var(--primary-light-color) ;

}

/* reset settings for all browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d-flex{
 display: flex;
}

.list-container{
 padding: 2rem 4rem;
}

.drop-list{
margin-left: 2rem;
}

.select_options{
 padding: 0.5rem 4rem;


}
.select_options,option{
color: white;
background-color:var(--primary-light-color) ;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}

.country-list{
 flex-wrap: wrap;
 flex: 1 1 50%;
 padding: 2rem;
 list-style-type: none;
 color: white;
}

.arrow-link{
 justify-content: end;
 padding-right: 1rem;
}

.country-list li{
 /* border: 1px solid red; */
 flex-direction: column;
 width: 50%;
 padding: 2%;
}

 li:nth-child(4n+3),
 li:nth-child(4n+2){
  background-color: var(--primary-dark-color);
 }

.list-body {
 flex-direction: column;
 margin-top:1rem ;
 gap: 1rem;
  font-style: italic;
  font-size: small;
 }

 .list-header{
  flex-direction: column;
  gap: 1rem;
 }


